body {
    background: rgba(0, 0, 0, 0.01);
    font-family: Verdana, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}


/*CLEAR FIX SOLLUTION*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/**************************************
demo css styling

layout

criteria:
margin 10px between outer edges and boxes (red and blue)
margin 10px between the boxes (red and blue)
footer 10px margin (black) 

calculations:
 960 = (1m + 1b + 1p + content + rp + rb + rm) + (1m + 1b + 1p + content + rp + rb + rm)
 960 = (10 + 0 + 0 + content + 0 + 0 + 10) + (10 + 0 + 0 + content + 0 + 0 + 0) + 10
 960 = 30 + 2 * content
 960 - 30 = 2 * content
 930 / 2 = content
 465 = content

 **************************************/

main{
    background-color: lightgrey;
    display: flex;
}

/********************************
since there is not actual content we will simulate
the contetn with a fixed height value of 300px
*****************/

main > div{
    height: 200px;
    width: 465px;
    margin: 10px 0 10px 10px;
}

.red-paint{
    background-color: red;
}

.blue-paint{
    background-color: blue;
}

.black-paint{
    background-color: black;
    width: 940px;
    height: 50px;
    margin: 0px 10px 10px 10px;
}

footer{
    background-color: lightgrey;
    height: 60px;
    display: flex;
}