body {
	background-color: white;
}
 
.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}

h1,
h2 {
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

.site-header nav {
	margin-top: 15px;
}

.site-header nav {
	margin-top: 15px;
}

.menu {
	display: flex;
}

.site-header nav li {
	width: 170px;
	margin-left: 15px;
	border: 2px solid #333333;
	text-align: center;
}

main section {
	width: 423.5px;
	border: 2px solid #333333;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
}